<!DOCTYPE html>
<html>
<head>
  <title>Trails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
  <header>
  <% if not_logged_in? %>
    <%=form_tag "/login" do %>
        <%= label_tag :email%>
        <%= text_field_tag :email, params[:email] %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
      <%end%>
  <%else%>
  Hello, <%= current_user.name%>
         <%= link_to "logout", "/logout", method: :delete%>
  <%end%>
 <%=link_to "create account", "/users/new" %>
     
  </header>
<%= yield %>

</body>
</html>
