<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @trail.url %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @trail.lat %>
</p>
<p>
  <strong>Lon:</strong>
  <%= @trail.lon %>
</p>


<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
