<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @trail.url %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @trail.lat %>
</p>
<p>
  <strong>Lon:</strong>
  <%= @trail.lon %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>


<%= javascript_include_tag "http://www.mapquestapi.com/sdk/js/v7.2.s/mqa.toolkit.js?key=Fmjtd%7Cluu8290ynq%2Cbn%3Do5-9470h6" %>
<%= javascript_include_tag 'directions' %>

<h1>Driving Directions</h1>

<div id="map" style="width:1000px; height:400px;"></div>
